<h4 mat-dialog-title>{{ data?.editingEnroll ? 'Modifica la inscripcion ' : 'Inscribe  ' }} a un alumno </h4>
<div mat-dialog-content id="dialogContent">
    <form [formGroup]="enrollForm">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Alumnos</mat-label>
                <mat-select formControlName="studId">
                    <mat-option *ngFor="let student of studOpts$ | async" [value]="student.id"> 
                        {{ student | userFullName }}
                    </mat-option>
                </mat-select>
                <mat-error>
                    @if(enrollForm.get('studId')?.hasError('required')) { Este campo es requerido }
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Curso</mat-label>
                <mat-select formControlName="courseId">
                    <mat-option *ngFor="let course of coursesOpts$ | async" [value]="course.id"> 
                        {{ course.name }}
                    </mat-option>
                </mat-select>
                <mat-error>
                    @if(enrollForm.get('courseId')?.hasError('required')) { Este campo es requerido }
                </mat-error> 
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-dialog-close mat-button>Cancelar</button>
    <button (click)="onSubmit()" mat-button>{{ data?.editingEnroll ? 'Modificar' : 'Inscribir' }}</button>
</div>