<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <app-sidenav id="slidebar"></app-sidenav>
    </mat-drawer>
    
    <div class="example-sidenav-content">
        <mat-toolbar>
            <div class="d-flex justify-content-between align-items-center h-100">
                <div class="d-flex align-items-center">
                    <button mat-icon-button (click)="drawer.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <span>Alumnado Angular</span>
                    <span class="example-spacer"></span>
                </div>
                <div *ngIf="authUser$ | async; let authUser">
                    <p>{{ authUser | userFullName }}</p>
                </div>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </div>
    
</mat-drawer-container>

