<h4 mat-dialog-title>{{data?.editingCourse ? 'Edita el ' : 'Añade un ' }}curso </h4>
<div mat-dialog-content id="dialogContent">
    <form id="course-form" [formGroup]="courseForm">
        <div class="row" id="topRow">
            <div class="col-6 mb-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Nombre</mat-label>
                    <input formControlName="name" matInput placeholder="Ej: Diseño UX UI">
                    <mat-error>
                        @if(courseForm.get('name')?.hasError('required')) { Este campo es requerido }
                        @else if (courseForm.get('name')?.hasError('minlength')) { Este campo debe tener 4 caracteres como mínimo }
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field appearance="outline">
                    <mat-label>Maximo de alumnos</mat-label>
                    <input type="number" formControlName="maxStud" matInput placeholder="Ej: 30">
                    <mat-error>
                        @if(courseForm.get('maxStud')?.hasError('required')) { Este campo es requerido }
                        @else if (courseForm.get('maxStud')?.hasError('maxStudExceeded')) { Este campo no puede tener más de 90 alumnos }
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-dialog-close mat-button>Cancelar</button>
    <button (click)="onAdd()" mat-button>{{data?.editingCourse ? 'Editar' : 'Añadir' }}</button>
</div>
