<h4 mat-dialog-title>{{data?.editingStudent ? 'Edita al ' : 'Añade un ' }} estudiante </h4>
<div mat-dialog-content id="dialogContent">
    <form id="user-form" [formGroup]="studentForm">
        <div class="row" id="topRow">
            <div class="col-6">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input formControlName="firstName" matInput placeholder="Ej: Juan">
                    <mat-error>
                        @if(studentForm.get('firstName')?.hasError('required')) { Este campo es requerido }
                        @else if (studentForm.get('firstName')?.hasError('minlength')) { Este campo debe tener 3 caracteres como mínimo }
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field appearance="outline">
                    <mat-label>Apellido</mat-label>
                    <input formControlName="lastName" matInput placeholder="Ej: Perez">
                    <mat-error>
                        @if(studentForm.get('lastName')?.hasError('required')) { Este campo es requerido }
                        @else if (studentForm.get('lastName')?.hasError('minlength')) { Este campo debe tener 3 caracteres como mínimo }
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Correo electronico</mat-label>
                <input
                formControlName="email"
                matInput
                placeholder="Ej: tumail@example.com"
                required/>
                <mat-error>
                    @if(studentForm.get('email')?.hasError('required')) { Este campo es requerido } 
                    @else if (studentForm.get('email')?.hasError('email')) {Este campo debe tener un formato de correo electronico}
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-dialog-close mat-button>Cancelar</button>
    <button (click)="onAdd()" mat-button>{{data?.editingStudent ? 'Editar' : 'Añadir' }}</button>

</div>