<div id="users-container">
    <h2 appHighlight>Usuarios</h2>
    @if (isLoading) {
        <mat-spinner></mat-spinner>
        <h3>Cargando, por favor espere...</h3>
    } @else {
        <button mat-raised-button (click)="openModal()">
            <mat-icon>add</mat-icon>
            Añadir estudiante
        </button>

        <!-- TABLA DE USUARIOS -->
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
            <th appHighlight mat-header-cell *matHeaderCellDef> ID. </th>
            <td mat-cell *matCellDef="let student"> {{ student.id }} </td>
            </ng-container>
            <ng-container matColumnDef="name">
            <th appHighlight mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let student"> {{ student | userFullName }} </td>
            </ng-container>
            <ng-container matColumnDef="email">
            <th appHighlight mat-header-cell *matHeaderCellDef> Correo electronico </th>
            <td mat-cell *matCellDef="let student"> {{ student.email }} </td>
            </ng-container>
            <ng-container matColumnDef="courses">
            <th appHighlight mat-header-cell *matHeaderCellDef> Cursos </th>
            <td mat-cell *matCellDef="let student"> {{ student.courses }} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th appHighlight mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let student">
                    <button (click)="goToDetail(student.id)" mat-icon-button>
                        <mat-icon> visibility </mat-icon>
                    </button>
                    <button (click)="openModal(student)" mat-icon-button>
                        <mat-icon> edit </mat-icon>
                    </button>
                    <button (click)="onDelete(student.id)" mat-icon-button>
                        <mat-icon> delete </mat-icon>
                    </button>
                </td>
                </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    }


</div>

